{% extends '_base.html' %}
{% load crispy_forms_tags %}
<title>{% block title %} Log Out {% endblock title %}</title>

{% block content %}

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row ml-20">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/static/images/bg_logut.jpg);">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
      <div class="heading-section-bold mb-5 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">Log Out</span></h2>
        </div>
      </div>
      <p>Are you sure you want to log out?</p>
      <div class="pb-md-5">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Log Out</button>
        </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}