{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row" style="margin-top: 10%;">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/static/images/reset-pas.jpg);">
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate ftco-animate fadeInUp ftco-animated">
      <div class="heading-section-bold mt-md-5">
          <div class="ml-md-0 ">
            <h2 class="mb-4" style="text-align: center; padding-top: 30px;">{% trans "Password Reset" %}</span></h2>

            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
            </form>
            </div>
            <!-- end -->
      </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}