{% extends '_base.html' %}
{% load socialaccount %}  
{% providers_media_js %}
{% load crispy_forms_tags %}
<title>{% block title %} Sign Up {% endblock title %}</title>

{% block content %}

<section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/static/images/bg_20.jpg);">
                <a href="https://vimeo.com/45830194" class="icon popup-vimeo d-flex justify-content-center align-items-center">
                    <span class="icon-play"></span>
                </a>
            </div>
            <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
      <div class="heading-section-bold mb-5 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4">Sign Up</span></h2>
        </div>
      </div>
      <div class="pb-md-5">
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">Sign Up</button>
        </form>
        <ul>            
            <li>
                <a href="{% provider_login_url "facebook" method="js_sdk" %}"><div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div></a>
          </li>

          <li>
            <div class="col-md-3">
                <a class="btn btn-outline-dark" href="{% provider_login_url "google" %}" role="button" style="text-transform:none">
                  <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                  Sign Up with Google
                </a>
              </div>
          </li>
        </ul>


                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}